<div class="risk-rules-box">
    <div class="tpl-list">

    </div>
    <div class="atom-list">
        <div id="risk-rules-split-line"></div>
    </div>
    <div class="board">

        <div class="box"></div>
    </div>

    <div class="edit-text">
        <div class="box">
            <form>
                <div class="input">
                    <input type="text">
                </div>
                <div class="btns">
                    <div class="btn1">Cancel</div>
                    <input class="btn2" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
